@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300;400;500;600&display=swap');

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f0f0f;
  color: #e0e0e0;
}

code {
  font-family: 'Noto Sans Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace !important;
  font-weight: 300 !important;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100vw;
} 